.frame img {
  width: 250px;
  height: 150px;
}

.btn,
button.btn {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--blue {
  color: #000;
  background-color: lightskyblue;
  border: none;
  border-bottom: 5px solid royalblue;
  border-right: 3px solid royalblue;
}

.btn--blue:hover {
  margin-top: 3px;
  color: #000;
  border: none;
  border-right: 1px solid royalblue;
  border-bottom: 2px solid royalblue;
}
